[submodule "themes/hero"]
	path = themes/hero
	url = https://github.com/yue1124/hero.git
[submodule "themes/nostyleplease"]
	path = themes/nostyleplease
	url = https://github.com/Masellum/hugo-theme-nostyleplease.git
